$chocolate: rgba(125, 59, 13, 0.714); 
$color-grey-dark: #777; 
$color-white: #fff; 
$color-black: #000; 

$color-grey-light: #e4e4e4; 

//grid 
$grid-width: 114rem; 
$gutter-horizontal: 6rem; 
$gutter-vertical: 8rem; 