@import "../../sass/abstracts/variables"; 

.category-container{
    height: 240px;
    width: 360px;  
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(230, 216, 218);
    border: 3px solid rgba(153, 68, 7, 0.513); 

    &:hover{
        box-shadow: 0 10px 20px rgba($color-black,.4); 
    }

    .category-body-container{
        height: 150px; 
        width:200px;
        display: flex; 
        flex-direction: column;

        
        h2{
            color: $chocolate;
        }
    }

}



