.category-container{
    height: 240px;
    width: 360px;  
    display: flex;
    justify-content: center;
    background-color: lightpink;
    border: 3px solid black; 
}



.category-body-container{
    height: 90px; 
    display: flex; 
    flex-direction: column;
}