.category-container{
    height: 240px;
    width: 360px;  
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: lightpink;
    border: 3px solid black; 

}



.category-body-container{
    height: 150px; 
    width:200px;
    display: flex; 
    flex-direction: column;
}