.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    // background-color:purple ;


  
    
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      // background-color:pink ;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      .nav-link {
        padding: 10px 15px;
        border: 1px solid black; 
        cursor: pointer;
        // background-color: green;
        color: black; 
        &:hover {
          box-shadow: 0 1rem 2rem;
        }
      }
    }
  }