[class^="box-"]{
    width: 20px;
    height: 20px;
    background-color: lightgoldenrodyellow;
    border: 2px solid 
 

  }

  .clicked{
    width: 20px;
    height: 20px;
    background-color: blue;
    border: 2px solid 
  }