.categories-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between; 
    flex-direction: row;
    column-gap: 20px;
   
    padding: 50px;

    
}