/* * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    flex-direction: row;
    
  }

  [class^="box-"]{
    width: 80px;
    height: 80px;
    background-color: lightgoldenrodyellow;
    border: 2px solid 
 

  }

  .clicked{
    width: 80px;
    height: 80px;
    background-color: blue;
    border: 2px solid 
  }

  .calendar-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:40px;

  }

  .month-container{
    display: flex;
    flex-direction: column;
  } */